{:proxy-client        {:connection-timeout 10000
                       :request-timeout    10000
                       :max-connections    2000}
 :collector           {:http-config                 {:connection-timeout 10000
                                                     :request-timeout    10000
                                                     :max-connections    2000}
                       ; The suffixes for your server endpoint URLs that the application will be looking for.
                       :possible-swagger-ui-suffix  ["/swagger/ui/index.html" "/swagger-ui.html" "/swagger/index.html" "/swagger/ui/swagger-ui.html"]
                       :possible-swagger-doc-suffix ["/v2/api-docs/" "/swagger/swagger.json" "/api-docs"]}

 ; This function will return a function that returns a list of swagger endpoints.
 ;:discovery-providers [com.iggroup.wt.swagger.search.discovery.providers.file/from-classpath]

 ; :server-list         ["http://ep5.test.iggroup.local/static-content-bootstrap" "http://is2.test.iggroup.local/signalcentre" "http://is4.test.iggroup.local/marketlist"]

 ;:classpath-file      "server-list"
 ;:uri-or-file         "server-list"
 }